*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */

}

body{
    display:flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color:lightpink;
    animation: colorchange 3s ease;
    animation-iteration-count: infinite;
}


@keyframes colorchange {
    from{
        background-color: rgb(247, 247, 179);
    }

    to{
        background-color: lightcoral;
    }
}

.container{
    text-align: center;
}

input{
    padding: 10px;
    width: 400px;
    font-size: 2rem;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 5px 0px 5px black;
}

button{
    width: 40%;
    padding: 6px;
    color: black;
    font-size: 20px;
    border-radius: 12px;
    height: 40px;;
    margin-top:20px;
    background-color: rgb(97, 241, 236);
}

button:hover{
    background-color: aqua;
    transition: 0.8s;
}

#weather{
    font-size: 3rem;
    color: white;
}

#main{
    margin-top: 40px;
    font-size: 2rem;
    
}